header {
	height: 200px;
	background-color: rgb(197, 197, 197); 
}
section.headline {
	max-width: 1000px;
	margin: 0 auto;
}
#main-head {
	margin-top: 15px;
	font: 65.6px Montserrat, Oxygen, sans-serif;
}
#main-photo {
	border: 1px solid rgb(210, 210, 210);
	border-radius: 50%;
	display: inline-block;
}
.photo-descr {
	margin-top: 25px;
}
.descr {
	display: inline-block;
	width: 662px;
	vertical-align: top;
	text-align: justify;
	font-family: Oxygen, sans-serif;
	padding-left: 2em;
	margin-top: 70px;
}
.descr p:nth-child(1) {
	font-size: 30px;
	margin-bottom: 0.5em;
}
.descr p:nth-child(2) {
	font-size: 16px;
	line-height: 1.1em;
}